@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "@fontsource/outfit"; /* defaults to 400 weight */
@import "@fontsource/outfit/500.css";

/* Optional reset */
* {
  font-family: "Outfit", sans-serif;
}

.urdu-text {
  font-family: "Noto Nastaliq Urdu", serif;
  direction: rtl;
  text-align: right;
}
